include src/jkepler/data/tests/v723mon_s12_rv.csv
include src/jkepler/data/tests/mann19_astrometry.txt  
include src/jkepler/data/tests/mann19_orbit.txt
include src/jkepler/data/tests/kic11773022_koiinfo.csv	
include src/jkepler/data/tests/kic11773022_long_transits.csv

graft tests
graft examples
graft docs

global-exclude *.py[co]

prune documents/_build
prune documents/_static
prune documents/_templates
prune documents/_build/doctrees/index.doctree
